.custom-popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.custom-popup-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 300px;
    border-radius: 15px;
}

.custom-popup-content p {
    margin: 0 0 20px;
}

.custom-popup-content button {
    margin: 5px;
    height: 40px;
    width: 100px;
    border-color: transparent;
    border-radius: 5px;
    color: white;
}

#confirm-true{
    background-color: #F9AD1F;
}

#confirm-false{
    background-color: #354250;
}

.custom-popup-buttons{
    display: flex;
    justify-content: space-between;
}


#confirm-reset-true{
    background-color: #F9AD1F;
}

#confirm-reset-false{
    background-color: #354250;
}

#confirm-winner-true{
    background-color: #F9AD1F;
}

.user-info{
    font-weight: bold;
}

.custom-winner-popup-buttons{
    display: flex;
    justify-content: center;
}